<h1>Takeaway app</h1>
<router-outlet></router-outlet>
<!-- <div>
  <button (click)="login()">Login</button>
</div>
<div>
  <p>Welkom {{ userName }}</p>
  <button (click)="logout()">Logout</button>
</div> -->

<div *ngIf="!isLoggedIn;">
  <button (click)="login()">Login</button>
</div>
<div *ngIf="isLoggedIn;">
  <p>Welkom, {{ userName }}</p>
  <!-- <p>Welcome, {{ birthdate }}</p> -->

  <button (click)="viewMenu()">Bekijk menukaart</button>
  <div *ngIf="apiData.length > 0">
    <h2>Menukaart</h2>
    <ul>
      <li *ngFor="let order of apiData">
        {{ order.name }} - Price: {{ order.price }} - {{ order.description }}
      </li>
    </ul>
  </div>

  <br><br>
  <button (click)="logout()">Logout</button>
</div>